<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="/stylesheets/user/notifications.css">
</head>
<body>
    <%- include('../partials/usernav')%>

    <div class="contentbox">
        <div id="pageintrobox">
            <div id="innerpageintrobox">
                <h5><%= notification.title %></h5>
                
            </div>
        </div>

        <div class="flashbox">
            <% if(success && success.length) { %>
                   <div class="flashboxsuccess-alert">
                       <%= success %> 
                       <span class="flashboxsuccess-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                       
                   </div>
               <% } %> 
           
               <% if(error && error.length) { %>
                       <div class="flashboxerror-alert">
                           <%= error %> 
                           <span class="flashboxerror-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                           
                       </div>
               <% } %> 
               
        </div>

        <div class="msgbox">
            <div class="innermsgbox">
                <div class="msg">
                    <h6><u><%= notification.title %></u></h6>
                    <small><%= notification.notificationdate.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit'}) %> <%= notification.notificationdate.toLocaleDateString('en-US', { weekday: 'short'}) %>, <%= notification.notificationdate.toISOString().split('T')[0] %>.</small>

                    <p><%- notification.message.replace(/\n/g,'<br>') %></p>
                </div>
            </div>
        </div>
    
    </div>
    

    <script src="/script/app.js"></script>
</body>
</html>